body{
    max-width: 100%;
    overflow-x: hidden;
}
.container{
    display: flex;
    width: 1800px;
    flex-wrap: wrap;
    margin: 2% 15% 0 15%;
    justify-content: space-around;
    max-width: 1800px;
}
button{
    margin-right: 27%;
}



    


